header {
    background-color: #2F2F2F;
    padding: 20px;
    white-space: nowrap;
}

.textoNav {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 30px;
    display: inline-block;
}

.textoNavDerecha {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    display: inline-block;
}

.logo {
    width: 20px;
    height: 25px;
    display: inline-block;
    margin-right: 50px;
}

.country {
    width: 20px;
    height: 20px;
    display: inline-block;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    display: 100%;
}

.enlaces {
    display: inline-block;
    width: 40%;
}

.enlaceDerecha {
    display: inline-block;
    position: sticky;
    right: 10px;
}

.logoSpace {
    display: inline-block;
    width: 5%;
    margin-left: 25px;
}

footer {
    background-color: #E7E7E7;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.textoFooter {
    color: #2F2F2F;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 5px;
}

.enlaceAzul {
    color: #0A74F9;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.enlacesFooter {
    margin-bottom: 20px;
}

.footerIzquierda {
    display: inline-block;
    width: 90%;
}

.footerDerecha {
    width: 10%;
    float: right;
    margin-top: 50px;
}

aside {
    display: inline-block;
    background-color: #F2F2F2;
    width: 15%;
    margin: 0px;
    min-width: 200px;
    position: relative;
    height: 100%;
}

section {
    display: inline-block;
    background-color: white;
    width: 82%;
    vertical-align: top;
    margin: 0px;
}

.buscadorInput {
    background-color: #D9D9D9;
    border-radius: 7px;
    border: none;
    height: 27px;
    width: 85%;
    color: #2F2F2F;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-image: url(assets/search.png);
    background-repeat: no-repeat;
    background-position: 8px 8px;
    padding-left: 31px;
}

.buscador {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 80%;
}

.perfil {
    margin-top: 700px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.profile {
    width: 30px;
    height: 30px;
    display: inline-block;
}

.textoProfile {
    color: #585858;
    text-decoration: none;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 5px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
}

.enlaceAzulAside {
    color: #0A74F9;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    display: inline-block;
    font-weight: 500;
    margin-left: 5px;
}

.iconosAside{
    width: 22px;
    height: 20px;
    display: inline-block;
}
.enlacesAside{
    margin-top: 50px;
    margin-left: 30px;
    width: 80%;
    display: inline-block;
    vertical-align: middle;
}
.enlaceAside{
    width: 80%;
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
}

.tituloNegroSection{
    color: #2F2F2F;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 5px;
    font-size: 25px;
    margin-left: 15px;
    font-weight: bolder;
}

.url{
    text-decoration: none;
    color: #0A74F9;
}